@using AutoNest.Models.Cars
@model CarInputModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Car Details";
}

<h2>Car Details</h2>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.Brand @Model.Model (@Model.ModelYear)</h4>

        <h5 class="mt-3">Compatible Engines</h5>
        @if (Model.CompatibleEngineIds.Any())
        {
            <ul class="list-group">
                @foreach (var engine in Model.CompatibleEngineIds)
                {
                    <li class="list-group-item">@engine</li>
                }
            </ul>
        }
        else
        {
            <p>No compatible engines listed.</p>
        }

        <h5 class="mt-3">Compatible Parts</h5>
        @if (Model.CompatiblePartIds.Any())
        {
            <ul class="list-group">
                @foreach (var part in Model.CompatiblePartIds)
                {
                    <li class="list-group-item">@part</li>
                }
            </ul>
        }
        else
        {
            <p>No compatible parts listed.</p>
        }

        <div class="mt-4">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
